*~
prel
text/exemple.aco
text/exemple.ano
text/exemple.atr
text/exemple.cho
text/exemple.dct
text/exemple.dcx
text/exemple.dfe
text/exemple.ecl
text/exemple.eid
text/exemple.eno
text/exemple.epr
text/exemple.erd
text/exemple.ere
text/exemple.err
text/exemple.eth
text/exemple.evl
text/exemple.fil
text/exemple.frm
text/exemple.frx
text/exemple.idx
text/exemple.log
text/exemple.msx
text/exemple.nol
text/exemple.par
text/exemple.prf
text/exemple.ref
text/exemple.sgl
text/exemple.vcl
text/exemple.wsx
text/exemple.xml
text/prepa.aco
text/prepa.ano
text/prepa.atr
text/prepa.cho
text/prepa.dct
text/prepa.dcx
text/prepa.dfr
text/prepa.ecl
text/prepa.eid
text/prepa.eno
text/prepa.epr
text/prepa.erd
text/prepa.ere
text/prepa.err
text/prepa.eth
text/prepa.evl
text/prepa.fil
text/prepa.frm
text/prepa.frx
text/prepa.idx
text/prepa.log
text/prepa.msx
text/prepa.nol
text/prepa.par
text/prepa.prf
text/prepa.ref
text/prepa.sgl
text/prepa.vcl
text/prepa.wsx
text/prepa.xml

